<div class="homepage-background">
  <div class="homepage-text">
    <h4>Pairing Partnerz</h4>
    <p>
      Find your true partner: one who will enrich you and lead you down the dreamscape of enlightened paired-programming. Namaste!
    </p>
    <br/>
    <div class="homepage-links">
      <%= link_to "Begin your sojourn with Github", "/auth/github", class: "btn login-btn" %> </br>
      <%= link_to "Learn More", description_path, class: "btn btnlogin" %>
    </div>
  </div>
  <div class="homepage">
    <div class="screen">
    <%= image_tag("pp.jpg") %>
    </div>
  </div>
</div>
